body {
    margin:0;
    padding:0;
  }
  
  .header02{
    display:flex;
    justify-content: space-between;
    padding-left:200px;
    padding-right:00px;
    font-size:20px;
  height: 350px;
  background: #1976D2;
  }
  
  .h02{
     display: inline;
    padding-left:400px;
    font-size:30px;
  }
  
  .p02{
    display:flex;
    padding-left: 350px;
    
  }
  
  .span02{
    display: flex; 
      justify-content: space-between;
      align-items:center;
      font-size: large;
  }
  