body {
    margin:0;
    padding:0;
  }
  
  header{
    display:flex;
    justify-content: space-between;
    padding-left:200px;
    padding-right:00px;
    font-size:20px;
  height: 350px;
  background: #FFC400;
  }
  
  h2{
     display: inline;
    padding-left:400px;
    font-size:30px;
  }
  
  p{
    display:flex;
    padding-left: 350px;
    
  }
  
  .span1{
    display: flex; 
      justify-content: space-between;
      align-items:center;
      font-size: large;
  }
  